@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  background: white;
}
.form-select {
  background-image: url("https://cdn3.iconfinder.com/data/icons/user-interface-169/32/chevron-bottom-512.png");
  background-size: 2.5rem;
  background-position: right 0.7rem center;
}
